header{
    background: lightblue;
    display: flex;
    justify-content: center;

    button{
        color: $primarybutton;
        &:hover{
            background-color: green;;
        }
    }
}

@mixin flexSetting($color){
    display: flex;
    justify-content: center;
    background-color: $color;
}